@import "tailwindcss";

#root {
    /* padding: 0.5rem 8rem; */
    font-family: "Outfit", sans-serif;
}

#root::selection {
    background-color: rgb(93, 243, 93);
}

.font {
    font-family: cursive;
}
/* input [type=checkbox] {
    transform: scale(3);
    margin-right: 1rem;
} */

.con {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.active::after {
    content: "";
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 32.5px;
    width: 130%;
    height: 3.5px;
    margin-top: 2px;
    border-radius: 5px 5px 0 0;
    background-color: rgb(34, 202, 34);

    animation-name: spread;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    
}

.active {
    margin-bottom: 0px;
}

/* .con:hover::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5px;
    margin-top: 1px;
    background-color: rgb(52, 52, 52);
    
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 200s;
    border-radius: 5rem;
} */

.leftHeader {
    animation-name: slide-right;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 5ms;
    animation-iteration-count: 1;
}

.rightHeader {
    animation-name: slide-left;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 10ms;
    animation-iteration-count: 1;
}

.navbar {
    animation-name: slide-down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 5ms;
    animation-iteration-count: 1;
}

.slide-show {
    animation-name: slide;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 5ms;
    animation-iteration-count: infinite;
}

.collections {
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 5ms;
    animation-iteration-count: 1;
    /* font-family: "Inter", sans-serif; */
}

.scroll {
    animation-name: scroll;
    animation-timing-function: ease-in-out;
    animation-duration: 1000s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.expand {
    animation-name: expand;
    animation-timing-function: linear;
    animation-duration: 500ms;
    animation-delay: 0;
    animation-iteration-count: 1;
}

@keyframes slide-right {
    0% {
        transform: translateX(-20rem);
        opacity: 0%;
    }

    50% {
        /* transform: translateX(0.5rem); */
        opacity: 50%;
    }

    100% {
        transform: translateX(0rem);
        opacity: 100%;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(20rem);
        opacity: 0%;
    }

    50% {
        /* transform: translateX(-0.5rem); */
        opacity: 50%;
    }

    100% {
        transform: translateX(0rem);
        opacity: 100%;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-5rem);
        opacity: 100%;
    }

    50% {
        transform: translateY(0.5rem);
        opacity: 100%;
    }

    100% {
        transform: translateY(0rem);
        opacity: 100%;
    }
}

@keyframes slide {
    0% {
        transform: translateX(-70rem);
        opacity: 100%;
        
    }

    /* 50% {
        transform: translateX(0rem);
        opacity: 100%;
    } */

    100% {
        transform: translateX(70rem);
        opacity: 100%;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(10rem);
        opacity: 50%;
        
    }

    50% {
        transform: translateY(-1rem);
        opacity: 75%;
    }

    100% {
        transform: translateY(0rem);
        opacity: 100%;
    }
}

@keyframes spread {
    0% {
        /* transform: translateX(0rem); */
        opacity: 0%;
        width: 0%;
    }


    100% {
        /* transform: translateX(0rem); */
        opacity: 100%;
        width: 130%;
    }
}

@keyframes scroll {
    0% {
        /* scale: 0%; */
        opacity: 0%;
        transform: translateY(200px);
    }

    /* 25% {
        scale: 25%;
        opacity: 25%;
    }

    50% {
        scale: 50%;
        opacity: 50%;
    }

    75% {
        scale: 75%;
        opacity: 75%;
    } */

    100% {
        /* scale: 100%; */
        opacity: 100%;
        transform: translateY(0px);
    }

    /* 0% {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: 0.95;
        translate: 0 4rem;
    }

    0% {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    } */
}

@keyframes expand {
    0% {
        opacity: 50%;
        scale: 50%;
    }

    50% {
        opacity: 100%;
        scale: 105%;
    }

    100% {
        opacity: 100%;
        scale: 100%;
    }
}

@keyframes load {
    0% {
        width: 100%;
        opacity: 1; 
    }

    100% {
        width: 0%;
        visibility: hidden;
        opacity: 1;
    }
}

.load {
    animation-name: load;
    animation-timing-function: linear;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
    transform-origin: right;
    animation-delay: 2.9s;
    /* opacity: 0.1; */
}

.slideInOut {
    animation-name: slideInOut;
    animation-timing-function: ease-in-out;
    animation-duration: 7.4s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    visibility: hidden;
    position: fixed;
}

.slideOut {
    animation-name: slideOut;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 10s;
    visibility: hidden;
}

.spin {
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0;
}
.spinTwo {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-delay: 0;
}

.menu-in {
    animation-name: move-in;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 0;
}

.menu-out {
    animation-name: move-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 0;
}

@keyframes slideInOut {
    0%, 15% {
        transform: translateY(-200%);
        visibility: visible;
    }
    
    25%,50%,75% {
        transform: translateY(20%);
        visibility: visible;
    }
    85%, 90%, 100% {
        transform: translateY(-200%);
        visibility: visible;
    }
    /* 0%, 15% {
        transform: translateX(100rem);
        visibility: visible;
    }
    
    25%,50%,75% {
        transform: translateX(65rem);
        visibility: visible;
    }
    85%, 90%, 100% {
        transform: translateX(100rem);
        visibility: hidden;
    } */
}

@keyframes slideOut {
    0% {
        transform: translateX(35rem);
        visibility: visible;
    }
    100% {
        transform: translateX(70rem);
        visibility: visible;
    }
}

@keyframes spin {
    0%,25%,50%,75%,100% {
        width: 0%;
        transform: rotate(360deg);
        background-color: red;
    }
    /* 100% {
        width: 100%;
        background-color: red;
    } */
}

@keyframes spinTwo {
    0% {
        width: 0%;
        transform: scale(1);
        transform: rotate(360deg);
    }
    50% {
        transform: scale(3);
        transform: rotate(360deg);
    }
    100% {
        width: 100%;
        transform:scale(1);
    }
}

@keyframes move-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes move-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
